<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{js/jquery-3.6.0.js}"></script>
</head>
<body>
	<form name="movieDetail">
		<h1>Using TheMovieDB.org API v3</h1>
		<h2>영화 정보</h2>
		<div>
		<span class="search_th">영화이름검색</span>
		<input type="number" min="1980" max="2022" id="startDate" placeholder="시작날짜선택" /> -
		<input type="number" min="1980" max="2022" id="endDate" placeholder="종료날짜선택" />
		<input type="text" id="movieName" placeholder="영화이름검색">
		<button th:href="@{조회JS}" type="button" th:onclick="|movieSearch()|">조회</button>
		<button th:href="@{등록JS}" type="button" th:onclick="|movieReg()|">등록</button>
	</div>
		<table cellpadding="0" cellspacing="0" border="1">
			<tbody>
				<tr>
					<th>동영상</th>
					<td><input type="text" name="movie_vUrl"></td>
				</tr>
				<tr>
					<th>이미지</th>
					<td><img th:src="${vo.movie_iUrl}"></td>
				</tr>
				<tr>
					<th>영진위코드</th>
					<td>[[${vo.movie_koficCd}]]</td>
				</tr>
				<tr>
					<th>TMDB코드</th>
					<td>[[${vo.movie_tmdbCd}]]</td>
				</tr>
				<tr>
					<th>영화이름(한글)</th>
					<td>[[${vo.movie_nm}]]</td>
				</tr>
				<tr>
					<th>영화이름(영문)</th>
					<td>[[${vo.movie_nmEn}]]</td>
				</tr>
				<tr>
					<th>영화등급</th>
					<td>[[${vo.movie_age}]]</td>
				</tr>
				<tr>
					<th>감독이름(한글)</th>
					<td>[[${vo.movie_dirNm}]]</td>
				</tr>
				<tr>
					<th>개봉일</th>
					<td>[[${vo.movie_openDt}]]</td>
				</tr>
				<tr>
					<th>배우이름(한글)</th>
					<td>[[${vo.movie_actNm}]]</td>
				</tr>	
				<tr>
					<th>영화장르</th>
					<td>[[${vo.movie_gr}]]</td>
				</tr>
				<tr>
					<th>제작국가</th>
					<td>[[${vo.movie_nt}]]</td>
				</tr>
				<tr>
					<th>명대사</th>
					<td>[[${vo.movie_tagLine}]]</td>
				</tr>
				<tr>
					<th>영화소개</th>
					<td>[[${vo.movie_ov}]]</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{수정JS}" class="save" th:onclick="|movie_valid()|" >저장</a>
	</form>

	<script th:inline="javascript">
		
    </script>
</body>
</html>