<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/include/Layout :: setContent(~{:: .noticeRegist_outbox})}">


	<div class="noticeRegist_outbox">
		<form name="noticeUpdate" method="post">
			<div class="title">
				<span class="noselect">공지사항</span>
			</div>

			<div class="leftbox">
				<nav>
					<ul class="mcd-menu">
						<li><a href="http://www.naver.com"> <i class="fa fa-home"></i>
								<strong>메인페이지</strong> <small>Mainpage</small>
						</a></li>
						<li><a href="adminMain1"> <i class="fa fa-edit"></i> <strong>게시판</strong>
								<small>sweet home</small>
						</a></li>
						<li><a href="qna"> <i class="fa fa-gift" id="bpage"></i>
								<strong>문의사항</strong> <small>sweet home</small>
						</a></li>
						<li><a href="notices"> <i class="fa fa-globe" id="bpage1"></i>
								<strong>공지사항</strong> <small>sweet home</small>
						</a></li>
						<li><a href="user_info"> <i class="fa fa-comments-o"></i>
								<strong>회원관리</strong> <small>what they say</small>
						</a></li>
						<li><a href="movieRegist"> <i class="fa fa-comments-o"></i>
								<strong>영화등록</strong> <small>what they say</small>
						</a></li>



					</ul>
				</nav>
			</div>
			<div class="rightbox">
				<li>
					<table cellpadding="0" cellspacing="0" class="board_basic_view"
						width="100%">
						<tbody class="ttt">
							<tr>
								<th>등록일</th>
								<td colspan="5">
									[[${#temporals.format(adminvo.notices_date,'yyyy-MM-dd')}]]</td>
							</tr>
							<tr>
							<th>조회수</th>
							<td>[[${adminvo.notices_count}]]</td>
							</tr>
							<tr>
								<th>번호</th>
								<td><input type="hidden" class="inputw99p" name="admin_key" th:value="${adminvo.admin_key}"
									readonly>[[${adminvo.admin_key}]]</td>
									
							</tr>
						
							
							<tr>
								<th>아이디</th>
								<td><input type="text" class="inputw99p" name="admin_id"
									th:value="${adminvo.admin_id}" readonly></td>
							</tr>
							<tr>
								<th>제목</th>
								<td colspan="5"><input type="text" class="inputw99p2"
									name="notices_title" th:value="${adminvo.notices_title}">

								</td>

							</tr>
							<tr>
								<th>내용</th>
								<td colspan="5">
									<div>
										<textarea name="notices_content" class="inputw99p1"
											style="height: 400px">[[${adminvo.notices_content}]]</textarea>
									</div>
								</td>
							</tr>
								  <tr>
                    <th>첨부파일</th>
                     <td>
                  	[[${adminvo.filename}]]
                     <input name="filename" type="file" class="file_class" th:value="${adminvo.filename}">
                    <th:block th:each="imgs : ${filename}">
                   <img th:src = "@{../img(filepath = ${imgs.filepath}, uuid=${imgs.uuid},filename=${imgs.filename})}">
                   </td>
                   </tr>
                   </th:block>
						</tbody>

					</table>

				</li>
				<div class="notice_regist_btn1">

					<a th:href="@{수정JS}" title="Button fade lightblue"
						th:onclick="|notice_update()|" class="submit">수정</a> <a
						th:href="@{수정js}" title="Button fade lightblue"
						th:onclick="|notice_delete()|" class="submit">삭제</a>
				</div>


			</div>






		</form>
</th:block>
	</div>

<script th:inline="javascript">
	function notice_update(){
		this.event.preventDefault();
		
		document.noticeUpdate.action="noticeUpdate";
		document.noticeUpdate.submit();
	}
	function notice_delete(){
		this.event.preventDefault();
		
		if(confirm("삭제후에는 복구가 불가능합니다.")){
			document.noticeUpdate.action="noticeDelete";
			document.noticeUpdate.submit();		}
	}
    
    
    
</script>


</html>