<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{/include/Layout :: setContent(~{:: .test_outbox})}">


    <div class="test_outbox">
        <form action="">
        <div class="test_title"> 
          <span class="noselect">공지사항</span>
       </div>
           
        <div class="test_leftbox">
            <nav>
                <ul class="mcd-menu">
                    <li>
                        <a href="http://www.naver.com">
                            <i class="fa fa-home"></i>
                            <strong>메인페이지</strong>
                            <small>Mainpage</small>
                        </a>
                    </li>
                    <li>
                      
                            <a href="adminMain1"  >
                            <i class="fa fa-edit" ></i>
                            <strong>게시판</strong>
                            <small>sweet home</small>
                        </a>
                    </li>
                    <li>
                        <a href="qna">
                            <i class="fa fa-gift"id="bpage" ></i>
                            <strong>문의사항</strong>
                            <small>sweet home</small>
                        </a>
                    </li>
                    <li>
                        <a href="notices">
                            <i class="fa fa-globe" id="bpage1"></i>
                            <strong>공지사항</strong>
                            <small>sweet home</small>
                        </a>
                    </li>
                    <li>
                        <a href="user_info">
                            <i class="fa fa-comments-o"></i>
                            <strong>회원관리</strong>
                            <small>what they say</small>
                        </a>
                       
                    </li>
                    <li>
                        <a href="movieRegist">
                            <i class="fa fa-comments-o"></i>
                            <strong>영화등록</strong>
                            <small>what they say</small>
                        </a>
                        
                    </li>
                  
                    
                   
                </ul>
            </nav>
        </div>
        <div class="test_rightbox"> <li>
            <table cellpadding="0" cellspacing="0" class="board_basic_view" width="100%">
                <tbody class="ttt">
                    <tr>
                        <th>등록일</th>
                        <td colspan="5"> <p><input type="date" class="inputw99p"></p></td>
                    </tr>
                    <tr>
                        <th>아이디</th>
                        <td><input type="text" class="inputw99p" name="id" value="admin" readonly></td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td colspan="5">
                            <input type="text" class="inputw99p2"name="title" >

                        </td>

                    </tr>
                    <tr>
                        <th>내용</th>
                        <td colspan="5">
                            <div>
                                <textarea name="content" class="inputw99p1" style="height: 400px"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>답변</th>
                        <td colspan="3">
                            <div>
                                <textarea name="content" class="inputw99p1" style="height: 200px" resize="none" readonly>adsfasdfasdf</textarea>
                            </div>
                        </td>
                    </tr>
                </tbody>

               </table>
               
            </li>
            <div class="btn1">
    
                <a href="test" title="Button fade lightblue" class="button btnFade btnLightBlue">삭제</a>
                <a href="test" title="Button fade lightblue" class="button btnFade btnLightBlue">수정</a>
                <a href="test" title="Button fade lightblue" class="button btnFade btnLightBlue">등록</a>
            </div>
           
            
        </div>
               
         
               
               
               
       
</form>
    </div>

</html>