<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/practice.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/search.css}"/>
<th:block th:replace="~{/include/layout :: setContent( ~{:: .table-wrapper} ) }">

	<div class="table-wrapper">
		<table class="board-table">
                  <thead>
                     <tr>
                        <th scope="col">영진위 코드</th>
                        <th scope="col">영화 이름</th>
                        <th scope="col">영화 감독</th>
                        <th scope="col">영화 배우</th>
                        <th scope="col">영화 소개</th>
                     </tr>
                  </thead>
                  <tbody th:each="vo, state : ${movielist}">
                     <tr>
                        <td>[[${vo.movie_koficCd}]]</td>
                        <td>[[${vo.movie_nm}]]</td>
                        <td>[[${vo.movie_dirNm}]]</td>
                        <td>[[${vo.movie_actNm}]]</td>
                        <td>[[${vo.movie_ov}]]</td>
                     </tr>
                  </tbody>
               </table>
         <div class="pageInfo_wrap">
         	<div class="pageInfo_area">
         		<ul id="pageInfo" class="pageInfo">
         			<!-- 이전 페이지 버튼 -->
         			<th:block test="${spVO.prev}">
         				<li class="pageInfo_btn previous"><a href="${spVO.startPage - 1}">Previous</a></li>
         			</th:block>
         			<!-- 각 번호 페이지 버튼 -->
         			<th:block var="num" begin="${spVO.startPage}" end="${spVO.endPage}">
         				<li class="page_info_btn ${spVO.searchCriteria.pageNum == num ? "active" : ""}"><a href="${num}">${num}</a></li>
         			</th:block>
         			<!-- 다음 페이지 버튼 -->
         			<th:block test="${spVO.next}">
         				<li class="pageInfo_btn next"><a href="${spVO.EndPage + 1}">Next</a></li>
         			</th:block>
         		</ul>
         	</div>
         </div>      
                 
	</div>
</th:block>
<!-- 페이지에서 사용할 JS코드를 block 아래에 삽입 -->
<!-- modal.js는 list화면에서만 사용됨 -->
</html>