<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/include/layout :: setContent( ~{:: .table-wrapper} ) }">

	<div class="table-wrapper">
		<table class="board-table">
                  <colgroup>
                     <col style="width: 10%">
                     <col style="width: 15%">
                     <col style="width: 15%">
                     <col style="width: 15%">
                     <col style="width: 45%">
                  </colgroup>
                  <thead>
                     <tr>
                        <th scope="col">영진위 코드</th>
                        <th scope="col">영화 이름</th>
                        <th scope="col">영화 감독</th>
                        <th scope="col">영화 배우</th>
                        <th scope="col">영화 소개</th>
                     </tr>
                  </thead>
                  <tbody th:each="vo, state : ${movielist}">
                     <tr>
                        <td>[[${vo.movie_koficCd}]]</td>
                        <td>[[${vo.movie_nm}]]</td>
                        <td>[[${vo.movie_dirnm}]]</td>
                        <td>[[${vo.movie_actnm}]]</td>
                        <td>[[${vo.movie_ov}]]</td>
                     </tr>
                  </tbody>
               </table>
	</div>
</th:block>
<!-- 페이지에서 사용할 JS코드를 block 아래에 삽입 -->
<!-- modal.js는 list화면에서만 사용됨 -->
</html>