<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:sec="http://thymeleaf.org/extras/spring-sequrity"
     xmlns="http://www.w3.org/1999/xhtml">
<!-- 베이직 레이아웃 -->
<th:block th:fragment="setContent(content)">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<!-- 공통 -->
		<!-- 경로는 절대 경로 -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/practice.css}" />
		<link rel="preconnect" th:href="@{https://fonts.googleapis.com}" />
		<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin />
		<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap}" />
		<script th:src="@{/js/jquery-3.6.0.js}"></script>
		<script th:src="@{/js/practice.js}"></script>
		
		<!-- admindMain part -->
     	<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
     	
	 	<script type="text/javascript" th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
	 	<script th:src="@{https://code.highcharts.com/highcharts.js}"></script>
	 	<script th:src="@{https://code.highcharts.com/modules/exporting.js}"></script>
	 	
	</head>

   <body>
      
   <!-- 헤더 -->
   <header class="wrap">   
        <div class="header">
            <div class="logo">
                <ul>
                <a th:href="@{/main}"><img src="/img/logo.png" alt="logo"></a>
                </ul>    
            </div>
           
            <ul class="pull-right">
                <li th:if = "${vo.getUser_id()} == null"><p sec:authorize="isAnonymous()"><a th:href="@{/user/userLogin}" >로그인</a></p></li>
                <li th:if = "${vo.getUser_id()} == null"><p sec:authorize="isAnonymous()"><a th:href="@{/user/userRegist}" >회원가입</a></p></li>
                <li th:if = "${vo.user_admin} != true"><p sec:authorize="isAuthenticated()"><a th:href="@{/user/userLogin}" >마이페이지</a></p></li>
                <li th:if = "${vo.user_admin} == true"><p sec:authorize="isAuthenticated()"><a th:href="@{/user/userLogin}" >관리자페이지</a></p></li>
                <li th:if = "${vo.getUser_id()} != null"><p sec:authorize="isAuthenticated()"><a th:href="@{/user/userLogin}" >로그아웃</a></p></li>
            </ul>
        </div>  
            <div class="nav">
                <div class="pull-left">
                    <ul class="outer-menu">
                        <li><a th:href="@{/movie/movieList(nation=ko)}">국내 영화</a></li>   
                        <li><a th:href="@{/movie/movieList(nation=out)}">해외 영화</a></li>
                    </ul>
                </div>   
                <div class="pull-right">
                    <div class="search-bar">
                        <!-- <form id="searchForm" action="/search/searchList" method="get">	
                            <select class="sele1" name="searchType">
                                <option value="null" th:selected="${spVO.searchCriteria.searchType} == 'null' ? 'selected' : ''">검색 내용 선택</option>
                                <option value="dir_Nm" th:selected="${spVO.searchCriteria.searchType} == 'dir_Nm' ? 'selected'">감독</option>
                                <option value="act_Nm" th:selected="${spVO.searchCriteria.searchType} == 'act_Nm' ? 'selected'">영화배우</option>
                                <option value="movie_Nm" th:selected="${spVO.searchCriteria.searchType} == 'movie_Nm' ? 'selected'">영화이름</option>
                                <option value="dirActor" th:selected="${spVO.searchCriteria.searchType} == 'dirActor' ? 'selected'">감독 or 배우</option>
                                <option value="dirMovie" th:selected="${spVO.searchCriteria.searchType} == 'dirMovie' ? 'selected'">감독 or 영화</option>
                                <option value="actMovie" th:selected="${spVO.searchCriteria.searchType} == 'actMovie' ? 'selected'">배우 or 영화</option>
                                <option value="all" th:selected="${spVO.searchCriteria.searchType} == 'all' ? 'selected'">감독 or 배우 or 영화</option>
                            </select>
                            <input type="text" name="searchName"/>
                            <input type="hidden" name="pageNum" th:value="1">
                            <input type="hidden" name="amount" th:value="${spVO.searchCriteria.amount}">
                            <input type="hidden" name="searchName" th:value="${spVO.searchCriteria.searchName}" placeholder="검색어를 입력해주세요">
                            <input type="hidden" name="searchType" th:value="${spVO.searchCriteria.searchType}">
                            <button type="button" class="btn btn-default">
                               <span class="glyphicon glyphicon-search">검색</span>
                            </button>
                        </form>  -->
                    </div>
                </div>
            </div>
          </header>         
                <th:block th:replace="${content}"></th:block>
                
                <footer id="footer">
                    <div class="footer_wrap">
                        <div class="footer_top">
                            <!-- 상위 -->
                            <ul class="pull_left">
                                <span>
                                    <a th:href="@{/admin/notices}">공지사항</a>
                                    <a th:href="@{/user/userQnaRegist}">문의사항</a>
                                </span>      
                            </ul>
                        </div>
                    </div>
                    <div class="footer_wrap2">
                        <div class="footer_bot">
                            <!-- 하위 -->
                            <p>
                                <span><strong>팀명 : 영화 VOD 판매 프로그램</strong></span><br>
                                <span>조장 : 김영찬</span><br>
                                <span>조원 : 엄인국</span>
                                <span>조원 : 김상아</span>
                                <span>조원 : 남태희</span>
                                <span>조원 : 최민석</span>
                            </p>
                        </div>
                    </div>
   </body>
</th:block>
</html>