<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
.img_logo { 
			padding: 50px 0 50px 0;
			overflow: block;
}
.mailcheck_box {
	text-align: center;
	overflow:hidden;
}

.this_mail {
	font-size: 30px;
}

.code_check {
   height: 30px; 
   width: 200px;
   border: 1px solid #d5d5d5; 
   margin-right: 4px;
}
</style>
</head>
<body>
	<form method = "POST" action = "verifyCode">
		<div class = "mailcheck_box">
			<img src="/img/logo.png" class = "img_logo">
			<p class = "this_mail">[[${userdata.getUser_email}]]</p>
			<p class = "this_mail">확인 후 인증 코드를 작성해주세요.</p>
			<input class = "code_check" type="text" name="code">
			<input type="submit">
		</div>
	</form>
</body>

<script th:inline="javascript">
	(function() {
		var msg = JSON.parse('[[${msg}]]');
		if (msg != null) {
			alert(msg);
			/* console.log(check_id); */
			/* user_id.value = "${check_id}"; model에서 저장한 값을 JS에서 불러서 사용하는 방법이 뭘까? */
		}
		;
	})();
</script>
</html>