<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.masthead-content ul li {
		border : 5px solid #eee; 
		padding : 10px 20px; 
		margin-bottom : 20px;
	}
</style>
</head>
<body>
	 <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">결제 실패</h1>
        <h2 class="masthead-subheading mb-0">다시 결제하십시오</h2>
        <a href="/movie/movieDetail" class="btn btn-primary btn-xl rounded-pill mt-5">돌아가기</a>
      </div>
    </div>
</body>
</html>