<<<<<<< HEAD
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : sans-serif;
}
ul, li {list-style : none;} 
a {text-decoration : none;
   color : inherit; 
}
/*-- 기본 클래스 --*/
.pull-left {float : left;}
.pull-right {float : right;}
.navigator {
    top : 0;
    left : 0;
    width : 100%;    
    width : 1130px;
    height : 70px;
    margin : 0 auto;
    margin-top : -5px;
    padding : 10px;
    border-top : 1px solid #C8C8C8;
    border-bottom : 1px solid #C8C8C8;
    margin-bottom : 10px;
    background-color : white;
    border : 1px solid block;
}
.navigator * {
    display : inline-block
}
hgroup {
    font-size : 1em;
    font-weight : bold;
}	
.navigator > .pull-left, .pull-right >.menu-bar {
    list-style : none;
    margin-top : -5px;
    margin-bottom : 30px;
    margin-left : -5px;
    align-self : center;
    background-size : 769px 745px;
    display : inline-block;
    vertical-align : top;
    font : bold 12px 'arial';
    background-color : white;
    color : black;
    font-family : 'Montserrat', sans-serif;
    letter-spacing : 2px;
    margin-top : -1px;
}
.navigator > .menu-bar > a {
    padding : 12px;
    display : inline-block;
    font-size : 18px;
    margin : 0;
}
.navigator > .menu-bar a:hover {
    background-color: #ff9416;
}
.navigator > .menu-bar a.active {
    background-color : yellowgreen;
}
.navigator > hgroup > a {
    box-sizing : border-box;
    align-items : center;
    justify-content : space-between;
    margin : 0px;
    padding-top : 4px;
    font-weight : 800px;
    margin-top : -1px;
    margin-left : -3px;
    margin-right : 5px;
    margin-bottom : 0px;
}
/* 내비게이션 */
#main-navigation {
    clear : both;
    width : 1130px;
    margin : 0 auto;
    height : 100px;
    margin-top : 0px;
    margin-bottom : 20px;
    padding : 10px 10px;
    border : 1px solid black;
    overflow : hidden;
    border-top : 1px solid #777;
    border-bottom : 1px solid #777;
    display : block;
	justify-content : space-between;
}
#main-navigation > .pull-left .outer-menu {
    font-size : 0;
}
#main-navigation > .pull-left .outer-menu > li {
    display : inline-block;
    width : 100px;
    vertical-align : top;
    background : #ddd;
    text-align : center;
    font-size : 16px;
    box-sizing : border-box;
}
#main-navigation > .pull-left .outer-menu > li:hover > a {
    background : blue;
    color : #fff;
}
#main-navigation > .pull-left .outer-menu > li > a {
    display : block;
    padding : 10px 0;
}
/* 내비게이션 내부의 검색 */
.search-bar {
    height : 26px;
    padding : 7px;
}
.input-search {
    display : block;
    float : left;
    background-color : #FFFFFF;
    border : 1px solid #CCCCCC;
    border-radius : 15px 0 0 15px;
    box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width : 120px; 
    height : 24px;
    padding : 0 0 0 10px;
    font-size : 12px;
    color : #555555;
}
.input-search:focus {
    border-color : rgba(82, 168, 236, 0.8);
    outline : 0;
    box-shadow : inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.input-search-submit {
    display : block;
    width : 50px; 
    height : 26px;
    border-radius : 0 15px 15px 0;
    border : 1px solid #CCCCCC;
    margin-left : -1px;
    display : inline-block;
}    	
#main {
    width : 1130px;
    height : 900px;
    margin-top : 10px;
    margin : 0 auto;
}
#content {
    width : 900px;
    margin : 0 auto;
    height : 600px;
    float : left;
    margin-top : 10px;
    border : 1px solid black;
}
aside {
    width : 230px;
    margin : 0 auto;
    height : 600px;
    float : left;
    margin-top : 10px;
    margin-bottom : 10px;
    border : 1px solid black;   
}
footer {
    clear : both;
    background-color : white;
    width : 1130px;
    height : 100px;
    bottom : 0;
    left : 0;
    position : relative;
    margin-top : 10px;
    padding : 25px 0px;
    margin-bottom : 0px;
    margin : 0 auto;
    border-top : 1px solid #C8C8C8;
    border-bottom : 1px solid #C8C8C8;
    border : 1px solid black;
    font-size : 11px;
    overflow : hidden;
    display : block;
	justify-content : space-between;
}
.footer a {
    display : inline-block;
    margin : 0 20px 10px 20px;
    color : black; 
    font-size: 20px;
} 
.footer a:visited {
    color : yellowgreen;
}
.footer > p > span > a {
    margin-top : 0; 
    margin-bottom : 0;
    font-size : 16px;
    color : white;   
}
footer span {
    display : inline;
    padding : 0 7px 0 10px;
    margin-left : 20px;
    color : black;
}
footer span:before {
    content : '';
    width : 1px;
    height : 12px;
    background : #ccc;
    position : absolute;
    left : 0;
    top : 2px;
}
=======
           * {
            margin : 0;
            padding : 0;
            box-sizing : border-box;
            font-family : sans-serif;
        } 
        ul, li {list-style : none;}
        .pull-left {float : left;}
        .pull-right {float : right;} 
        a {
            text-decoration : none;
            color : inherit;
            text-align : center; 
        }
       .wrap {
       		width : 100%; 
       		background-color : white; 
       		min-width : 1130px;
       	}
 	   .wrap .header {
 	   		top : 0;
            left : 0;
 	   		width : 1130px; 
 	   		height : 70px; 
 	   		background-color : white; 
 	   		position:relative;
 	   		margin-top : -5px;
            margin : 0 auto;
            margin-bottom : 0;
            text-align : center;
            display : inline-block;
 	   	}
        .wrap .header .logo {
            float : left;
        }
        .wrap .header .logo img {
            width : 100%;
            height: 50px;
            vertical-align : center;
        }
        .wrap .header ul li {
            width : auto;
            list-style : none;
            text-decoration : none;
            padding : 5px;
            margin : 10px;
            margin-bottom : 0;
            margin-left : -5px;
            align-self : center;
            text-align : center;
            background-color : #16baff;
            display : inline-block;
            vertical-align : center;
            font : bold 12px 'arial';
            color : white;
            border-radius : 5px;
            font-family : 'Montserrat', sans-serif;
            letter-spacing : 2px;
            margin-top : -5px;
            box-sizing : border-box;
        }
        .wrap .header ul li a {
            display : inline-block;
            margin : 0 auto;
            margin-bottom : 5px;
            padding : 5px;
            text-align : center;
            box-sizing : border-box;
            vertical-align : center;
        }
        .wrap .header ul li a:hover {
            background-color : #ff9416;
        }
        .nav {
            top : 0;
            left : 0;
            width : 1130px;    
            height : 70px;
            margin : 0 auto;
            margin-top : 0px;
            background-color : white;
            clear : both; 
            padding : 10px;
            overflow : hidden;
            border-top : 1px solid #777;
            border-bottom : 1px solid #777;
            display : inline-block;
	        justify-content : space-between;
        }
        .nav .pull-left .outer-menu a {
        	width : 100%;
            padding : 0;
            display : inline-block;
            font-size : 10px;
            margin : 0 auto;
            top : 0;
            left : 0;
        }
        .nav .pull-left .outer-menu a:hover {
            background-color: #ff9416;
}
        .nav .pull-left .outer-menu > li {
            height : 40px;
            display : inline-block;
            width : 100px;
            padding : 10px 0;
            background : blue;
            color : white;
            text-align : center;
            font-size : 12px;
            box-sizing : border-box;
        }
        .nav .pull-right .search-bar {
            height : 40px;
            padding : 10px; 
        }
        .nav .pull-right .btn btn-default {
        	height : 40px;
        	padding : 10px;
        }
        /*
        .section {
            height : 600px;
            background-color : white;
            width : 80%;
            float : left;
            border : 1px solid black;
        }
        .aside {
            height : 600px;
            background-color : white;
            width : 20%;
            float : left;
            box-sizing : border-box;
            border : 1px solid black;
        }
        */
        #footer {
            clear : both;
            background-color : white;
            color : black;
            width : 100%;
            height : 200px;
            bottom : 0;
            left : 0;
            margin : 0 auto;
            position : relative;
            margin-top : 0;
            padding : 0;
            margin-bottom : 0;
            border-top : 1px solid #C8C8C8;
            border-bottom : 1px solid #C8C8C8;
            font-size : 12px;
            display : inline-block;
        }
        #footer a {
            display : inline-block;
            margin : 0 5px 5px 5px;
            margin-top : 10px;
            font-size: 10px;
            padding-right: 5px;
            width : 100px;
            color : blue;
            text-align : center;
            font-size : 16px;
            box-sizing : border-box;
        }    
        #footer a:visited {
            color : yellowgreen;
        }
        #footer p span strong {
            font-size : 15px;
        }
        #footer p span {
            margin-top : 0; 
            margin-bottom : 10;
            margin : 0 5px 5px 5px;
            padding : 10px;
            display : inline-block;
            margin-left : 0;
            color : black;
        }
>>>>>>> 13afea391c59459e24f216ee29cb0800a79dfc66
