<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project2.movieproject.search.SearchMapper">	

	<select id="getSearchList" parameterType="com.project2.movieproject.command.SearchVO" resultType="com.project2.movieproject.command.SearchVO">
		<![CDATA[
		SELECT *
		FROM (
			SELECT A.*,
				   @ROWNUM := @ROWNUM + 1 AS NUM
			FROM (
				SELECT *
				FROM SEARCH
		]]>
				<if test="type == 'all'">
				WHERE (
					 MOVIE_NM LIKE CONCAT('%', #{searchName}, '%')
					 OR MOVIE_DIRNM LIKE CONCAT('%', #{searchName}, '%')
					 OR MOVIE_ACTNM LIKE CONCAT('%', #{searchName}, '%')
				)
				</if>
				<if test="type == 'movie_Nm'">
				WHERE MOVIE_NM LIKE CONCAT('%', #{searchName}, '%')
				</if>
				<if test="type == 'movie_dirNm'">
				WHERE MOVIE_DIRNM LIKE CONCAT('%', #{searchName}, '%')
				</if>
				<if test="type == 'movie_actNm'">
				WHERE MOVIE_ACTNM LIKE CONCAT('%', #{searchName}, '%')
				</if>
				ORDER BY SEARCH DESC
			) A, (SELECT @ROWNUM := 0) D
		<![CDATA[
		)B
		WHERE NUM > (#{page}-1) * #{amount} AND NUM <= #{page} * #{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM SEARCH
		<if test="type == 'all'">
		WHERE (
			 MOVIE_NM LIKE CONCAT('%', #{searchName}, '%')
			 OR MOVIE_DIRNM LIKE CONCAT('%', #{searchName}, '%')
			 OR MOVIE_ACTNM LIKE CONCAT('%', #{searchName}, '%')
		)
		</if>
		<if test="type == 'movie_Nm'">
		WHERE MOVIE_NM LIKE CONCAT('%', #{searchName}, '%')
		</if>
		<if test="type == 'movie_dirNm'">
		WHERE MOVIE_DIRNM LIKE CONCAT('%', #{searchName}, '%')
		</if>
		<if test="type == 'movie_actNm'">
		WHERE MOVIE_ACTNM LIKE CONCAT('%', #{searchName}, '%')
		</if>
	</select>

	<select id="getSearchDetail" resultType="SearchVO">
		SELECT *
		FROM SEARCH 
		WHERE
		MOVIE_KOFICCD = ${movie_koficCd}
	</select>
	
</mapper>