<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project2.movieproject.search.SearchMapper">	
	<select id="getSearchList" resultType="com.project2.movieproject.command.MovieVO">
		SELECT * FROM MOVIE
	</select>
	<select id="getSearchPage" resultType="com.project2.movieproject.command.MovieVO">
		SELECT * FROM MOVIE WHERE MOVIE_KOFICCD = #{MOVIE_KOFICCD}
	</select>
	<select id="getSearchListPaging" resultType="com.project2.movieproject.command.MovieVO">
		SELECT * FROM
			(SELECT MOVIE_KOFICCD, MOVIE_NM, MOVIE_DIRNM, MOVIE_ACTNM
			FROM MOVIE ORDER BY MOVIE_KOFICCD ASC) AS SEARCHMOVIE_TABLE 
			limit #{skip}, {amount}
	</select>		
	<select id="getTotal" resultType="com.project2.movieproject.command.MovieVO">
		select count(*) from MOVIE
	</select>		
</mapper>